<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./Partials/head') %>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Bloggio</title>
</head>
<body>
    <%- include('./Partials/navbar') %>
        <div class="container mt-3">
            <div class="row row-cols-3">
            <% blogs.forEach(blog => { %>
                <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="<%= blog.coverImageUrl %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><%= blog.title %></h5>
                        <a href="/blog/<%= blog._id %>" class="btn btn-primary">Read Blog</a>
                    </div>
                </div>
                </div>
                <% }) %>
                </div>
            </div>
    <%- include('./Partials/script') %>
</body>
</html>